<aside class="sidebar">
    <a href="@Url.Content("~/")" class="logo-link">
        <img src="~/images/alpha-logotype-light.svg" alt="alpha portal logotype" />
    </a>

    <nav class="nav-links">
        <a asp-action="index" asp-controller="projects" class="nav-link active">
            <i class="fa-solid fa-folder-open"></i> Projects
        </a>
    </nav>
</aside>
